Repository birdspotter-project/COS397, changes with the labels that .github/labeler.yml gives for each.
All labels: code, dev, docs, cicd, docker, deps-update

.github/labeler.yml:

# Add 'code' to any changes within 'src' folder or any subfolders
code:
  - birdspotter/**/*
  - birdspotter/*
  - any: [ '!birdspotter/docker/**/*', '!birdspotter/docker/*' ]
dev:
  - .devcontainer/**/*
docs:
  - Documentation/**/*
  - Documentation/*
cicd:
  - .github/**/*
  - .github/*
  - .drone/**/*
  - .drone*
docker:
  - birdspotter/docker/**/*
  - birdspotter/docker/*
deps-update:
  - birdspotter/requirements.txt

Profile page (#13)
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/models.py
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/accounts/urls.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/views.py
  birdspotter/requirements.txt
Labels: code, deps-update

update dockerfiles
  .devcontainer/Dockerfile
  birdspotter/docker/all-deps.dockerfile
  birdspotter/docker/base-deps.dockerfile
  birdspotter/docker/dev-deps.dockerfile
Labels: code, dev, docker

add nosec to avoid security warning on unit test
  birdspotter/birdspotter/accounts/tests.py
Labels: code

add prospector config
  birdspotter/.prospector.yaml
Labels: code

update dockerfiles (#14)
  .devcontainer/Dockerfile
  birdspotter/docker/all-deps.dockerfile
  birdspotter/docker/base-deps.dockerfile
  birdspotter/docker/dev-deps.dockerfile
Labels: code, dev, docker

Fix csv formatting
  birdspotter/sample_data.csv
Labels: code

update CI to run more tests and publish dev image
  .drone.yml
  birdspotter/docker/prod.dockerfile
Labels: code, cicd, docker

Clean up changes
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/dataio/admin.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/map/admin.py
  birdspotter/birdspotter/map/models.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/templatetags/template_utilities.py
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/views.py
  birdspotter/requirements.txt
Labels: code, deps-update

CI update, code cleanup (#15)
  .drone.yml
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/docker/prod.dockerfile
Labels: code, cicd, docker

Fix config issue causing superuser passwords to be hashed twice
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/models.py
Labels: code

clean up majority of known issues
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/settings.py
Labels: code

Prospector clean up (#16)
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/dataio/admin.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/map/admin.py
  birdspotter/birdspotter/map/models.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templatetags/template_utilities.py
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/views.py
  birdspotter/requirements.txt
Labels: code, deps-update

Fix config issue causing superuser passwords to be hashed twice (#17)
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/models.py
Labels: code

update dev-deps docker image
  birdspotter/docker/dev-deps.dockerfile
Labels: code, docker

coverage config
  .coveragerc
Labels: code

update ci to build dev-deps & push coverage
  .drone.yml
Labels: code, cicd

Always pull dev-deps
  .drone.yml
Labels: code, cicd

Add report call
  .drone.yml
Labels: code, cicd

Correct coverage XML path
  .drone.yml
Labels: code, cicd

Add CodeCoverage badge
  README.md
Labels: code

Add Drone CI Badge, improve dev instructions
  README.md
Labels: code

Update devcontainer to use dev-deps image
  .devcontainer/Dockerfile
Labels: code, dev

CodeCov CI integration (#18)
  .coveragerc
  .drone.yml
Labels: code, cicd

Add sample line graph data
  birdspotter/line_sample_data.csv
Labels: code

Fix csv formatting
  birdspotter/line_sample_data.csv
Labels: code

Add additional sample data
  birdspotter/line_sample_data.csv
Labels: code

Fix csv formatting
  birdspotter/line_sample_data.csv
  birdspotter/sample_data_table.csv
Labels: code

Fix data view styling and Add graph/table
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/templates/dataviz.html
Labels: code

Fix verbose code
  birdspotter/birdspotter/dataviz/views.py
Labels: code

set up auto-zoom
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/templates/map.html
Labels: code

Initial Data view POC (#19)
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/templates/dataviz.html
  birdspotter/line_sample_data.csv
  birdspotter/sample_data.csv
  birdspotter/sample_data_table.csv
Labels: code

Integrate django default account management urls
  birdspotter/birdspotter/accounts/urls.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
Labels: code

Create custom views for password reset - Update settings to prioritize custom views - Remove unused content in success.html
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/registration/password_reset_complete.html
  birdspotter/birdspotter/templates/registration/password_reset_confirm.html
  birdspotter/birdspotter/templates/registration/password_reset_done.html
  birdspotter/birdspotter/templates/registration/password_reset_form.html
  birdspotter/birdspotter/templates/success.html
Labels: code

add docker-compose update
  birdspotter/docker/base-deps.dockerfile
  birdspotter/docker/dev-deps.dockerfile
  birdspotter/docker/prod.dockerfile
  docker-compose/README.md
  docker-compose/docker-compose.yml
  docker-compose/initdb.sql
  docker/Dockerfile
Labels: code, docker

update CICD
  birdspotter/.prospector.yaml
Labels: code

update CICD
  .drone.yml
Labels: code, cicd

update devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: code, dev

add env example
  docker-compose/.env.example
Labels: code

update deps, update settings.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/urls.py
  birdspotter/manage.py
  birdspotter/requirements.txt
Labels: code, deps-update

add initial healthchecks
  docker-compose/docker-compose.yml
  docker/Dockerfile
Labels: code
