Repository birdspotter-project/COS397, changes with the labels that .github/labeler.yml gives for each.
All labels: code, dev, docs, cicd, docker, deps-update

add dev environment
  birdspotter/.env
Labels: code

ChangePassword tests
  birdspotter/birdspotter/accounts/tests.py
Labels: code

Add email to testuser
  birdspotter/birdspotter/accounts/tests.py
Labels: code

Password change views and navbar update
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/password_change_done.html
  birdspotter/birdspotter/templates/registration/password_change_form.html
  birdspotter/birdspotter/templates/registration/password_reset_form.html
Labels: code

Lint fix and security comments
  birdspotter/birdspotter/accounts/tests.py
Labels: code

refactor map/views.py for testing
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/map/tests.py
  birdspotter/birdspotter/map/views.py
Labels: code

Correct CI to only build & use dev-deps, not push
  .drone.yml
Labels: code, cicd

Correct pipeline dependencies
  .drone.yml
Labels: code, cicd

Update devcontainer Dockerfile to build whole chain
  .devcontainer/Dockerfile
Labels: code, dev

Stop image builder from purging before it is used
  .drone.yml
Labels: code, cicd

Use Drone Commit hash as unique image tag
  .drone.yml
Labels: code, cicd

refactor map/views.py for testing
  birdspotter/birdspotter/map/tests.py
  birdspotter/birdspotter/map/views.py
Labels: code

update pipeline, sign pipeline
  .drone.yml
Labels: code, cicd

Initial Deployment prep (#20)
  .devcontainer/devcontainer.json
  .drone.yml
  birdspotter/.env
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/urls.py
  birdspotter/docker/base-deps.dockerfile
  birdspotter/docker/dev-deps.dockerfile
  birdspotter/docker/prod.dockerfile
  birdspotter/manage.py
  birdspotter/requirements.txt
  docker-compose/.env.example
  docker-compose/README.md
  docker-compose/docker-compose.yml
  docker-compose/initdb.sql
  docker/Dockerfile
Labels: code, dev, cicd, docker, deps-update

Add Change Password button offset
  birdspotter/birdspotter/templates/account.html
Labels: code

Remove uneccesary newline
  birdspotter/birdspotter/templates/registration/password_change_form.html
Labels: code

Reset and change password (#21)
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/accounts/urls.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/password_change_done.html
  birdspotter/birdspotter/templates/registration/password_change_form.html
  birdspotter/birdspotter/templates/registration/password_reset_complete.html
  birdspotter/birdspotter/templates/registration/password_reset_confirm.html
  birdspotter/birdspotter/templates/registration/password_reset_done.html
  birdspotter/birdspotter/templates/registration/password_reset_form.html
  birdspotter/birdspotter/templates/success.html
Labels: code

make map view read from database
  birdspotter/birdspotter/accounts/models.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/map/views.py
Labels: code

updated UI accross the app, cleaned up messy css, implemented crispy forms
  birdspotter/birdspotter/dataio/forms.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/password_change_done.html
  birdspotter/birdspotter/templates/registration/password_change_form.html
  birdspotter/birdspotter/templates/registration/password_reset_complete.html
  birdspotter/birdspotter/templates/registration/password_reset_form.html
  birdspotter/birdspotter/templates/result.html
  birdspotter/birdspotter/templates/upload.html
  birdspotter/requirements.txt
Labels: code, deps-update

update upload for failure on zip w/out shp files, update redirect
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
Labels: code

ignore .vscode
  .gitignore
Labels: code

correct signature on drone.yml
  .drone.yml
Labels: code, cicd

correct dockerfiles
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docker/Dockerfile
Labels: code, dev

Correct dockerfiles (#25)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docker/Dockerfile
Labels: code, dev

Fix prospector errors
  birdspotter/manage.py
Labels: code

Crispy uiupdate (#24)
  .gitignore
  birdspotter/birdspotter/dataio/forms.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/password_change_done.html
  birdspotter/birdspotter/templates/registration/password_change_form.html
  birdspotter/birdspotter/templates/registration/password_reset_complete.html
  birdspotter/birdspotter/templates/registration/password_reset_form.html
  birdspotter/birdspotter/templates/result.html
  birdspotter/birdspotter/templates/upload.html
  birdspotter/manage.py
  birdspotter/requirements.txt
Labels: code, deps-update

.
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/templates/registration/register_user.html
Labels: code

update for mail, prep for static
  birdspotter/.gitignore
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/staticfiles/favicon.ico
  birdspotter/birdspotter/urls.py
  docker-compose/.env.example
  docker/Dockerfile
Labels: code

update docker-compose
  docker-compose/docker-compose.yml
Labels: code

Register form
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/urls.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/management/__init__.py
  birdspotter/birdspotter/management/commands/__init__.py
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/register_user.html
Labels: code

Allow for creation of groups via CLI `./manage.py create_groups`
  birdspotter/birdspotter/management/commands/create_groups.py
Labels: code

initial model changes
  birdspotter/birdspotter/analysis/__init__.py
  birdspotter/birdspotter/analysis/admin.py
  birdspotter/birdspotter/analysis/apps.py
  birdspotter/birdspotter/analysis/forms.py
  birdspotter/birdspotter/analysis/models.py
  birdspotter/birdspotter/analysis/scripts/start_job.py
  birdspotter/birdspotter/analysis/tests.py
  birdspotter/birdspotter/analysis/urls.py
  birdspotter/birdspotter/analysis/views.py
Labels: code

update dataio logic + model
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
Labels: code

update app to add analysis sub-mod
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/analyze.html
  birdspotter/birdspotter/urls.py
Labels: code

clean up dangling directory
  birdspotter/birdspotter/static/favicon.ico
Labels: code

Add export permission for datasets
  birdspotter/birdspotter/dataio/models.py
Labels: code

Fix raw data model reference name
  birdspotter/birdspotter/management/commands/create_groups.py
Labels: code

basic analysis submission for and queue page
  birdspotter/birdspotter/analysis/admin.py
  birdspotter/birdspotter/analysis/apps.py
  birdspotter/birdspotter/analysis/forms.py
  birdspotter/birdspotter/analysis/models.py
  birdspotter/birdspotter/analysis/scripts/start_job.py
  birdspotter/birdspotter/analysis/signals.py
  birdspotter/birdspotter/analysis/urls.py
  birdspotter/birdspotter/analysis/views.py
Labels: code

update index w/ queuing, update navbar w/ admin
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/queue.html
Labels: code

add mail and new urls
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/urls.py
Labels: code

.github/labeler.yml:

# Add 'code' to any changes within 'src' folder or any subfolders
code:
  - birdspotter/**/*
  - birdspotter/*
  - any: [ '!birdspotter/docker/**/*', '!birdspotter/docker/*' ]
dev:
  - .devcontainer/**/*
docs:
  - Documentation/**/*
  - Documentation/*
cicd:
  - .github/**/*
  - .github/*
  - .drone/**/*
  - .drone*
docker:
  - birdspotter/docker/**/*
  - birdspotter/docker/*
deps-update:
  - birdspotter/requirements.txt
