Repository birdspotter-project/COS397, pull requests merged in 2021-01, with the labels that each got.

#13 Profile page
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/models.py
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/accounts/urls.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/views.py
  birdspotter/requirements.txt
Labels: code, deps-update

#14 update dockerfiles
  .devcontainer/Dockerfile
  birdspotter/docker/all-deps.dockerfile
  birdspotter/docker/base-deps.dockerfile
  birdspotter/docker/dev-deps.dockerfile
Labels: code, dev, docker

#15 CI update, code cleanup
  .drone.yml
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/docker/prod.dockerfile
Labels: cicd, code, docker

#16 Prospector clean up
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/dataio/admin.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/map/admin.py
  birdspotter/birdspotter/map/models.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templatetags/template_utilities.py
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/views.py
  birdspotter/requirements.txt
Labels: code, deps-update
