Repository birdspotter-project/COS397, pull requests merged in 2021-04, with the labels that each got.

#57 Date collected autogen and navbar dataset name
  birdspotter/birdspotter/dataio/forms.py
  birdspotter/birdspotter/dataio/migrations/0003_auto_20210401_0251.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/forms.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/views.py
  docker/nginx/nginx.vh.default.conf
Labels: code

#70 User admin page cleanup
  birdspotter/birdspotter/accounts/admin.py
Labels: code

#69 Contact admin page
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/scripts.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/templates/contact.html
  birdspotter/birdspotter/templates/group_requests.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/urls.py
Labels: code

#76 Fix shapefile file storage
  birdspotter/birdspotter/dataio/scripts/import_handler.py
Labels: code

#72 Update dep versions of UrlLib and DJango
  birdspotter/requirements.txt
  docs/requirements.txt
Labels: code, deps-update, docs

#73 Clean up SLURM, add deploy check, prep for full deployment
  .drone.yml
  README.md
  birdspotter/birdspotter/analysis/scripts/start_job.py
  birdspotter/birdspotter/settings.py
  docker-compose/docker-compose.prod.yml
  docker-compose/env.example
  docs/source/admin_manual/procedures.rst
Labels: cicd, code, docs

#89 Map permissions
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/templates/index.html
Labels: code

#92 Fixes #34 - Send email to system staff members
  birdspotter/birdspotter/accounts/signals.py
Labels: code

#93 Add Export functionality
  birdspotter/birdspotter/dataio/forms.py
  birdspotter/birdspotter/dataio/migrations/0004_auto_20210424_1355.py
  birdspotter/birdspotter/dataio/migrations/0005_rawdata_name.py
  birdspotter/birdspotter/dataio/migrations/0006_rawdata_ext.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/urls.py
  docker-compose/docker-compose.override.yml
  docker-compose/initial_setup.sh
  docker/Dockerfile
  docker/nginx/nginx.vh.default.conf
  docs/source/admin_manual/procedures.rst
Labels: code, docs

#94 Cleanup a number of UI/UX issues
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/templates/base.html
  birdspotter/birdspotter/templates/index.html
  docker-compose/env.example
Labels: code

#95 Hide graphs for public users, tidy css
  birdspotter/birdspotter/templates/index.html
Labels: code

#97 Add delete button
  birdspotter/birdspotter/forms.py
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/views.py
Labels: code

#98 fixed typo in delete notification
  birdspotter/birdspotter/views.py
Labels: code

#100 Migrate Dockerhub to Org Repo
  .drone.yml
  birdspotter/birdspotter/settings.py
  docker-compose/docker-compose.prod.yml
Labels: cicd, code
