Repository birdspotter-project/COS397, pull requests merged in 2021-03, with the labels that each got.

#33 Register, Permission Groups, and associated UI updates
  README.md
  birdspotter/birdspotter/TestRunner.py
  birdspotter/birdspotter/accounts/__init__.py
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/apps.py
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/models.py
  birdspotter/birdspotter/accounts/signals.py
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/accounts/urls.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/management/__init__.py
  birdspotter/birdspotter/management/commands/__init__.py
  birdspotter/birdspotter/management/commands/create_groups.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/base.html
  birdspotter/birdspotter/templates/group_requests.html
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/register_user.html
  birdspotter/birdspotter/templates/request_group.html
  birdspotter/requirements.txt
Labels: code, deps-update

#35 Db data view
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataviz/models.py
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/templates/dataviz.html
Labels: code

#36 Upload via NGINX for higher-performance and chunking
  README.md
  birdspotter/birdspotter/analysis/apps.py
  birdspotter/birdspotter/dataio/forms.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/management/commands/create_inbox.py
  birdspotter/birdspotter/settings.py
  birdspotter/birdspotter/templates/base.html
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/views.py
  docker-compose/docker-compose.yml
  docker-compose/initial_setup.sh
  docker-compose/nginx.conf
  docker/Dockerfile
  docker/nginx/Dockerfile
  docker/nginx/nginx.conf
  docker/nginx/nginx.vh.default.conf
Labels: code

#37 Dataset editing view
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/forms.py
  birdspotter/birdspotter/templates/analyze.html
  birdspotter/birdspotter/templates/dataset_edit.html
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/views.py
Labels: code

#45 Code inspection fixup
  .drone.yml
  birdspotter/.prospector.yaml
  birdspotter/birdspotter/accounts/admin.py
  birdspotter/birdspotter/accounts/forms.py
  birdspotter/birdspotter/accounts/migrations/0001_initial.py
  birdspotter/birdspotter/accounts/models.py
  birdspotter/birdspotter/accounts/signals.py
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/accounts/views.py
  birdspotter/birdspotter/analysis/admin.py
  birdspotter/birdspotter/analysis/migrations/0001_initial.py
  birdspotter/birdspotter/analysis/models.py
  birdspotter/birdspotter/analysis/scripts/update_job.py
  birdspotter/birdspotter/analysis/signals.py
  birdspotter/birdspotter/analysis/views.py
  birdspotter/birdspotter/dataio/apps.py
  birdspotter/birdspotter/dataio/migrations/0001_initial.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/dataviz/admin.py
  birdspotter/birdspotter/dataviz/apps.py
  birdspotter/birdspotter/dataviz/models.py
  birdspotter/birdspotter/dataviz/urls.py
  birdspotter/birdspotter/dataviz/views.py
  birdspotter/birdspotter/map/apps.py
  birdspotter/birdspotter/map/urls.py
  birdspotter/birdspotter/map/views.py
  birdspotter/birdspotter/staticfiles/back.svg
  birdspotter/birdspotter/staticfiles/graph.svg
  birdspotter/birdspotter/staticfiles/map.svg
  birdspotter/birdspotter/templates/group_requests.html
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/templates/map.html
  birdspotter/birdspotter/templates/navbar.html
  birdspotter/birdspotter/templates/registration/password_change_form.html
  birdspotter/birdspotter/templates/request_group.html
  birdspotter/birdspotter/templates/result.html
  birdspotter/birdspotter/templates/template.html
  birdspotter/birdspotter/templatetags/template_utilities.py
  birdspotter/birdspotter/views.py
  birdspotter/manage.py
  docker-compose/README.md
  docker-compose/docker-compose.yml
  docker-compose/initial_setup.sh
Labels: cicd, code

#46 Docker compose rebuild
  .drone.yml
  birdspotter/birdspotter/settings.py
  birdspotter/requirements.txt
  docker-compose/.gitignore
  docker-compose/acme.json
  docker-compose/docker-compose.override.yml
  docker-compose/docker-compose.prod.yml
  docker-compose/docker-compose.yml
  docker-compose/nginx.conf
  docker/nginx/nginx.conf
  docker/nginx/nginx.vh.default.conf
Labels: cicd, code, deps-update

#48 fix migrations, fix initial_setup lacking errors
  birdspotter/.gitignore
  birdspotter/birdspotter/accounts/migrations/0001_v0.0.2.py
  birdspotter/birdspotter/analysis/migrations/0001_v0.0.2.py
  birdspotter/birdspotter/analysis/migrations/__init__.py
  birdspotter/birdspotter/dataio/migrations/0001_v0.0.2.py
  birdspotter/birdspotter/management/commands/create_inbox.py
  docker-compose/initial_setup.sh
Labels: code

#49 Dataset sharing permissions
  birdspotter/birdspotter/accounts/models.py
  birdspotter/birdspotter/accounts/signals.py
  birdspotter/birdspotter/accounts/tests.py
  birdspotter/birdspotter/analysis/scripts/update_job.py
  birdspotter/birdspotter/analysis/views.py
  birdspotter/birdspotter/dataio/forms.py
  birdspotter/birdspotter/dataio/migrations/0002_dataset_shared_with.py
  birdspotter/birdspotter/dataio/models.py
  birdspotter/birdspotter/dataio/scripts/get_user_datasets.py
  birdspotter/birdspotter/dataio/scripts/import_handler.py
  birdspotter/birdspotter/dataio/tests.py
  birdspotter/birdspotter/dataio/urls.py
  birdspotter/birdspotter/dataio/views.py
  birdspotter/birdspotter/templates/account.html
  birdspotter/birdspotter/templates/base.html
  birdspotter/birdspotter/templates/group_requests.html
  birdspotter/birdspotter/templates/index.html
  birdspotter/birdspotter/templates/request_group.html
  birdspotter/birdspotter/urls.py
  birdspotter/birdspotter/utils.py
  birdspotter/birdspotter/views.py
  docker-compose/nginx.conf
  docker/nginx/nginx.vh.default.conf
Labels: code
